<ion-header>
  <ion-toolbar>
    <ion-title>Add Reward</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h1>Do you have any rewards for your investors?</h1>
    <p>PS: Investor will be more interested with a some incentive! So you should really consider!</p>
  </ion-label>
  
  <form [formGroup]="rewardForm">
    <ion-item>
      <ion-label position="stacked">Reward Title:</ion-label>
      <ion-input type="text" placeholder="Give your Reward a name" formControlName="rewardName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Details:</ion-label>
      <ion-input placeholder="Share more about your reward..." formControlName="details"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Price:</ion-label>
      <ion-input type="number" placeholder="0.01" formControlName="price"></ion-input>
      <ion-label slot="end">Eth</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estimate Delivery Date:</ion-label>
      <ion-input type="date" formControlName="delDate"></ion-input>
    </ion-item>

    <ion-button expand="block" color="secondary" (click)="createReward()">  
      Create Reward
    </ion-button> 
    <!-- //what color to change for the submit button -->
  </form>
</ion-content>
