<ion-header>
  <ion-toolbar>
    <ion-title>The project has failed!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]=rewardDetail.image class="image-card">
  <h1>{{rewardDetail.prjName}}</h1>
  <ion-label>
    <p>Unfortunately, the campaign was not able to meet requirements, hence your fund has been refunded back to you. </p>
  </ion-label>
  <ion-label>
    <p>Nonetheless, we are very grateful for your donation if this project does makes a come back we will update you thank you!</p>
  </ion-label>

</ion-content>
