<ion-header>
  <ion-toolbar>
    <ion-title>Add Rewards</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h1>Do you have any rewards for your investors?</h1>
    <p>PS: Investor will be more interested with a some incentive! So you should really consider!</p>
  </ion-label>

  <form [formGroup]="rewardsForm" (ngSubmit)="onSubmit()">

    <ion-button slot="end" type="button" (click)="addRewards()" class="primary">Add More</ion-button>
    <div formArrayName="rewards">
      <ion-label *ngFor="let reward of rewards().controls; let i=index" [formGroupName]="i">
        <ion-item>
          <ion-label position="stacked">Reward Title:</ion-label>
          <ion-input type="text" placeholder="Give your Reward a name" formControlName="rewardName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Details:</ion-label>
          <ion-input placeholder="Share more about your reward..." formControlName="details"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Price:</ion-label>
          <ion-input type="number" placeholder="0.01" formControlName="price"></ion-input>
          <ion-label slot="end">Eth</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Estimate Delivery Date:</ion-label>
          <ion-input type="date" formControlName="delDate"></ion-input>
        </ion-item>
        <ion-button (click)="removeReward(i)" fill="clear" color="danger">Remove</ion-button>
      </ion-label>
    </div>

    <ion-button type="submit" class="btn btn-success">Submit</ion-button>

  </form>

</ion-content>